.preview-main{
    text-align: center;
    top: 36%;
    position: absolute;
    left: 43%;
    align-items: center;
    background-color: rgba(245, 229, 209, 0.427);
    padding: 30px;
    border-radius: 15px;
    /* display: flex;
    overflow-y: auto; */
}

.input-form-label{
    margin-bottom: 5px;
    color: rgb(73, 6, 70);
}

.input-form{
    border: 2px solid black;
    border-radius: 3px;
    background-color: transparent;
    height: 40px;
    width: 250px;
    color: rgb(69, 7, 63);
}

.btn-submit{
    background-color: rgb(47, 37, 198);
    margin: 10px;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

.preview-form{
    text-align: center;
    background-color: rgba(245, 229, 209, 0.427);
    margin: auto 6rem;
    border-radius: 15px;
}