body {
    /* position: relative; */
    margin: 0;
    padding: 0;
    background-image: url('./assets/myBackground.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}